.ubicacion{
    position: fixed;
    width: 80%;
    height: 80%;
    background-color: black;
    left: 10%;
    top: 10%;
    opacity: 0.5;
}

.imgCerrar{
    background-image: url("../../img/cerrar.png");
    background-size: 50% 50%;
}
body{
    position: relative;
}

resultados{
    display: grid;
    grid-template-columns: repeat(3, 32%);

}
img{
    width: 60%;
    height: 50%;
}

.cajaPrincipal{
    -webkit-box-shadow: 12px 11px 4px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 11px 4px -3px rgba(0,0,0,0.75);
    box-shadow: 12px 11px 4px -3px rgba(0,0,0,0.75);
    margin-bottom: 3%;

}


resultados div {
    margin: auto;
    text-align: center;
    background-color: burlywood;
   
}

button{
    width: 100%;
    
}

img{
    margin-top: 2%;
    height: 70%;
}

.puntuacion{
    margin: auto;
    margin-bottom: 1%;
    text-align: center;
    color: yellow; 
    font-size: 50px;
    opacity: 1;
}