body {
    background-color: yellow;
}

#mapa {
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.camino {
    width: 100px;
    height: 100px;
    background-color: black;
}

.muro {
    width: 100px;
    height: 100px;
    background-color: grey;
}