:root {
    --Fondo_Amarrilo: yellow;
    --Fondo_Negro: black;
    --Fondo_Gris: grey;
    --Chtulu: url("../img/Cthulhu.png");
    --Explorador: url("../img/Jugador.png");
    --Explorador_Derecha: url("../img/jugador_corriendo_R.png");
    --Explorador_Izquierda: url("../img/jugador_corriendo_L.png");
}

body {
    background-color: var(--Fondo_Amarrilo);
}

#mapa {
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.camino {
    height: 100px;
    background-color: var(--Fondo_Negro);
}

.muro {
    height: 100%;
    background-color: var(--Fondo_Gris);
}

.inicio {
    background-color: var(--Fondo_Amarrilo);
}

.jugador {
    background-image: var(--Explorador) !important;
    background-size: 100px;
}

.jugador_Derecha {
    background-image: var(--Explorador_Derecha) !important;
    background-size: 100px;
}

.jugador_Izquierda {
    background-image: var(--Explorador_Izquierda) !important;
    background-size: 100px;
}

.chtulu {
    background-image: var(--Chtulu) !important;
    background-size: 115px;
}