:root{
    --sombra_de_lista:  3px 4px 5px black; /* sombra negra para la lista */
    --sombra_de_img:  3px 4px 5px green; /* sombra negra para las img */
}

.pagina{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    /*con esto le marcaremos en que lugar se definira el header, nav, main y footer*/
    grid-template-areas: "header header header header"
     "nav  main main main"
     "footer footer footer footer";
}
header{
    grid-area: header;
    text-align: center;
}
h1{
    font-size: 35px;
    padding-bottom: 50px;
}
main{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*Ponemos 3 columnas dentro de este grid para que coja cada vez 3 imagenes*/
    grid-row-gap: 36px;

}

nav ul{
    list-style: none;
    grid-area: nav;
    
}
nav ul li{
    border: 1px solid black;
    width: 180px;
    height: auto;
    margin-bottom: 10px;
    font-size: 23px;
    box-shadow: var(--sombra_de_lista);
}
img:target{/*Coge la dirreccion que en ese momento se este clickando*/
    box-shadow: var(--sombra_de_img);
}
footer{
    grid-area: footer;
    text-align: center;
    font-size: 15px;
}

