.caja{
    width: 80px;
    height: 80px;
    background-image: url("../cthulhu.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: 1s;
}


.transicionar{
    transition: 1s;
    transform: translateX(1300px);
}

.linear{

    transition-timing-function: cubic-bezier(0.6966, 0.7305, 0.4424,0.4186);
}


.ease-in{

    transition-timing-function: cubic-bezier(0.42,0,1,1);
}

.ease-out{

    transition-timing-function: cubic-bezier(0,0,0.58,1);
}

.ease{

    transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
}

.ease-in-out{

    transition-timing-function: cubic-bezier(0.42,0,0.58,1);
}