body{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1000px;
}


#reproduciendo{
    top: 150px;
    position:relative;
    width: 711px;
    height: 400px;
    background-color: black;
}

#video{
    height: 100%;
}

#botones{  
    position:absolute;
    bottom:0;
    padding:10px;
    display: grid;
    grid-template-columns: repeat(8, 35px);
    background-color: rgba(17, 1, 1, 0.5); 
    width: calc(100% - 20px);
    
}
.visible {
    opacity: 1;
    transition: opacity .3s;
}
.invisible {
    opacity: 0;
    transition: opacity .3s;
}
#stop{
    width: 30px;
    height: 30px;
    background-image: url("../iconosReproductor/Stop.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#prev{
    width: 30px;
    height: 30px;
    background-image: url("../iconosReproductor/Prev.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.botonMenu{
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.play{
   
    background-image: url("../iconosReproductor/Play.png");
    
}

.pause{
    background-image: url("../iconosReproductor/Pause.png");
    
}
#next{
    
    background-image: url("../iconosReproductor/Next.png");
   
}
#volUp{
   
    margin-left: 440px;
    background-image: url("../iconosReproductor/volumen.png");
    
}
#volDown{
    margin-left: 445px;
    background-image: url("../iconosReproductor/volumen-.png");
   
}
#muteVol{
   
    margin-left: 450px;
    background-image: url("../iconosReproductor/mute.png");
  
}

